<h1>Homepage#home</h1>
<p>Find me in app/views/homepage/home.html.erb</p>
<p>
  <%= link_to "I want to prepare", sessions_candidate_path %> </p>

<p>
  <%= link_to "I want to help others", session_interviewer_path %> </p>
