<%= render 'navbar' %>


</div>
<div id="page1">
  <a id="about" class="smooth"></a>
    <h1> Our mission is to help people <br>make better educational and career choices </h1>
    <h3> We believe in the power of information for better decision making. <br>
      We also believe in sharing information for the benefit of everyone.<br>
      We aim to build a community which thrives on knowledge sharing </h3>

</div>

<div id="page2">
  <a id="candidate" class="smooth"></a>
<h1> Looking forward to joining <br> an educational institution or professional organization? </h1>
<h2> Talk to people who have been there and done that! </h2>

</div>

<div id="page3">
  <a id="interviewer" class="smooth"></a>
  <h1>Studying in a reputed institution or working in a great firm?</h1>
  <h3> For a lot of people, you are an expert with a sea of knowledge and experience. <br>
     And they would do anything to hear from you! <br>
    Share how your experience has been! Register and earn for your expertise. <%=link_to "Click here!", session_interviewer_url %></h3>
</div>
